@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --cta: #003566;
  --ctaHover: #183B56;
  --primary: #EDB043;
  --light: #C3C1BD;
}

